# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Build folders
dist/
build/